In [22]:
pip install pandas

Requirement already satisfied: pandas in c:\users\digital suppliers\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\digital suppliers\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\digital suppliers\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\digital suppliers\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\digital suppliers\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\digital suppliers\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
df = pd.read_csv("data/imdb_2024_merged.csv")
df

                                    Title  Rating   Voting Duration   genre
0                             1. Twisters     6.5   (168K)    2h 2m  action
1                         2. Gladiator II     6.5   (230K)   2h 28m  action
2                 3. Sonic the Hedgehog 3     6.9    (59K)   1h 50m  action
3                    4. Kraven the Hunter     5.5    (55K)    2h 7m  action
4                 5. Deadpool & Wolverine     7.6   (492K)    2h 8m  action
...                                   ...     ...      ...      ...     ...
4080                        1290. Gadha17     8.0     (11)   1h 30m  horror
4081            1307. Runnin' from Wolves     7.2     (10)   2h 13m  horror
4082                     1309. Bush Knife     7.0      (7)   1h 30m  horror
4083  1313. Whispers of the Imperial City     6.8     (53)   1h 30m  horror
4084                  1334. Jefa De Jefas     8.2      (9)   1h 22m  horror

[4085 rows x 5 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4085 entries, 0 to 4084
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     4085 non-null   object
 1   Rating    4085 non-null   float64
 2   Voting    4085 non-null   object
 3   Duration  4085 non-null   object
 4   genre     4085 non-null   object
dtypes: float64(1), object(4)
memory usage: 159.7+ KB

In [25]:
import re

# Function to clean the 'Voting' column
def clean_voting(voting):
    try:
        voting = str(voting).strip("() ").upper().replace(",", "")
        if "K" in voting:
            return int(float(voting.replace("K", "")) * 1000)
        elif "M" in voting:
            return int(float(voting.replace("M", "")) * 1_000_000)
        elif voting.isdigit():
            return int(voting)
        else:
            return None
    except:
        return None

# Function to convert 'Duration' into minutes
def duration_to_minutes(duration):
    h = m = 0
    h_match = re.search(r"(\d+)h", duration)
    m_match = re.search(r"(\d+)m", duration)
    if h_match:
        h = int(h_match.group(1))
    if m_match:
        m = int(m_match.group(1))
    return h * 60 + m

# Clean the data
df['Voting'] = df['Voting'].apply(clean_voting)
df['Duration (min)'] = df['Duration'].apply(duration_to_minutes)
df['Title'] = df['Title'].apply(lambda x: re.sub(r"^\d+\.\s*", "", x).strip())
df['Genre'] = df['genre'].str.capitalize()

# Drop old genre column
df.drop(columns=['genre'], inplace=True)

# Drop duplicates
df.drop_duplicates(inplace=True)

# Drop rows with essential nulls
df.dropna(subset=['Title', 'Rating', 'Voting', 'Duration (min)', 'Genre'], inplace=True)

# Final data types check
df.dtypes

Title              object
Rating            float64
Voting              int64
Duration           object
Duration (min)      int64
Genre              object
dtype: object

In [27]:
df

,Title,Rating,Voting,Duration,Duration (min),Genre
0,Twisters,6.5,168000,2h 2m,122,Action
1,Gladiator II,6.5,230000,2h 28m,148,Action
2,Sonic the Hedgehog 3,6.9,59000,1h 50m,110,Action
3,Kraven the Hunter,5.5,55000,2h 7m,127,Action
4,Deadpool & Wolverine,7.6,492000,2h 8m,128,Action
...,...,...,...,...,...,...
4080,Gadha17,8.0,11,1h 30m,90,Horror
4081,Runnin' from Wolves,7.2,10,2h 13m,133,Horror
4082,Bush Knife,7.0,7,1h 30m,90,Horror
4083,Whispers of the Imperial City,6.8,53,1h 30m,90,Horror
4084,Jefa De Jefas,8.2,9,1h 22m,82,Horror

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4085 entries, 0 to 4084
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           4085 non-null   object
 1   Rating          4085 non-null   float64
 2   Voting          4085 non-null   int64
 3   Duration        4085 non-null   object
 4   Duration (min)  4085 non-null   int64
 5   Genre           4085 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 191.6+ KB

In [29]:
df.drop(columns=['Duration'], inplace=True)

In [30]:
df

                              Title  Rating  Voting  Duration (min)   Genre
0                          Twisters     6.5  168000             122  Action
1                      Gladiator II     6.5  230000             148  Action
2              Sonic the Hedgehog 3     6.9   59000             110  Action
3                 Kraven the Hunter     5.5   55000             127  Action
4              Deadpool & Wolverine     7.6  492000             128  Action
...                             ...     ...     ...             ...     ...
4080                        Gadha17     8.0      11              90  Horror
4081            Runnin' from Wolves     7.2      10             133  Horror
4082                     Bush Knife     7.0       7              90  Horror
4083  Whispers of the Imperial City     6.8      53              90  Horror
4084                  Jefa De Jefas     8.2       9              82  Horror

[4085 rows x 5 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4085 entries, 0 to 4084
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           4085 non-null   object
 1   Rating          4085 non-null   float64
 2   Voting          4085 non-null   int64
 3   Duration (min)  4085 non-null   int64
 4   Genre           4085 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 159.7+ KB

In [32]:
df = pd.read_csv("data/imdb_2024_merged.csv")
cleaned_df = clean_data(df)
cleaned_df.to_csv("data/imdb_2024_cleaned.csv", index=False)
print("Cleaned CSV saved at: data/imdb_2024_cleaned.csv")

Cleaned CSV saved at: data/imdb_2024_cleaned.csv